<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FindReplace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BACKUP_LOCAL" value="x" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <FindReplace.Properties.Settings>
      <setting name="RemoteManifest" serializeAs="String">
        <value>https://raw.githubusercontent.com/MartinBruegger/FindReplace/refs/heads/master/Update/FindReplace.manifest</value>
      </setting>
      <setting name="F1State" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="F1Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="F1Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="F1Theme" serializeAs="String">
        <value>light</value>
      </setting>
      <setting name="F1ColorScheme" serializeAs="String">
        <value />
      </setting>
      <setting name="F1FindString" serializeAs="String">
        <value />
      </setting>
      <setting name="F1SelectedPath" serializeAs="String">
        <value />
      </setting>
      <setting name="F1SubDirectory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="F1Filenames" serializeAs="String">
        <value />
      </setting>
      <setting name="F1SelectByDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="F1FileAge" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="F1ReplaceString" serializeAs="String">
        <value />
      </setting>
      <setting name="F1MatchCase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="F1MatchWord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="F1RegEx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="F1BRLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="F1BRCentral" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="F1BRDir" serializeAs="String">
        <value />
      </setting>
      <setting name="F1BRNone" serializeAs="String">
        <value>False</value>
      </setting>
    </FindReplace.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>